@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'EliceDigitalBaeum';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'EliceDigitalBaeum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.ttf') format("truetype");
    font-display: swap;
}
